body{background: #eeeeee;}




/*HEADER*/

.nav {
  width: 100%;
  background:#343434;
  color: white;

}

.nav a{
  color: white;
  text-decoration: none;
  float: right;
  padding: 10px;
  margin: 10px;
  transition:0.5s ease;
  font-family: 'Lato';
  font-size: 1.8rem;
}

.nav a:hover {
  color: #343434;
  background: white;

}


.content-block{
  background: #FFF;
  padding: 1.25em 1.25em 1.5em;
  margin-top: 1.25em;
}

.content-block h2{
  font-family: 'Nixie One';
  padding-bottom: 20px;
  margin-top: 0;
}
.banner{
  min-height: 500px;
  height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #FFF;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'Nixie One';

}
.banner img{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
}
.banner>p{
  z-index: 2;
  font-size: 4rem;
  font-weight: bold;
}
figure{
  position: relative;
  overflow: hidden;
}
figure img{
  width: 100%;
  background-size: cover;
  background-position: center center;
  transform: scale(1.2);
  transition: all 0.3s ease;
}
figure:hover img{
  transform: scale(1);
}

figure .nameHolder{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 10;
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color:#FFF;
  font-family: 'Nixie One';
}


.footer
{
    background: #343434;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-family: 'Lato';
}
