<template name="activity">
	{{name}}
	{{>activityImages}}
	{{ description}}
	{{>editor}}
	{{>commentBox}}
	{{>comments}}
    {{>likeButton}}
</template>

<template name="activityImages">
{{#each pics in pictures}}
	<img src="{{pics}}" width="200">
{{/each}}
</template>

<template name="editor">
 {{editor.email}}
</template>

<template name="comments">
	{{#each comment in comments}}
		{{comment.user.email}}
		{{comment.text}}
	{{/each}}
</template>

<template name="commentBox">
    <div class="commentsAdd">
    {{#if currentUser}} 
<form id="sectionAdd">
    <textarea type="text" id="comment" name="comment" placeholder="comment"></textarea>
<input type="submit" name="submit" value="post">
</form>
    {{/if}}
</div>
</template>

<template name="likeButton">
        {{#if currentUser}} 
    <button id="like">Like</button>
    {{/if}}
</template>


