<template name="city">
     {{name}}
  	 {{description}}
  	 {{>placesImage}}
  	 {{>eventsImage}}
  	 {{>addEvents}}
  	 {{>addPlace}}
      {{>maps}}
</template>

<template name="maps">
  <div class="map-container">
      {{> googleMap name="maps" options=mapOptions}}
    </div>
</template>

<template name="addPlace">
	<form>
	<input type="text" placeholder="Name" id="name">
	<input id='latitude' type="text" placeholder='Latitude'/>
	<input id='longtitude' type="text" placeholder='Longitude'/>
	<textarea placeholder="Description" id="description"></textarea>
	<input type="files"/>
	<input type="submit" value="submit" class="submit" name="submit">
	</form>
</template>

<template name="addEvents">
	<form>
	<input type="text" placeholder="Name" id="name">
	<input type="text" placeholder ="URL" id="url">
	<input id='startDate' type="date" placeholder='Start Date'/>
	<input id='endDate' type="text" placeholder='EndDate'/>
	<textarea placeholder="Description" id="description"></textarea>
	<input type="files"/>
	<input type="submit" value="submit" class="submit" name="submit">
	</form>
</template>

<template name="placesImage">
<h2>Places</h2>
{{#each activity in activities}}
	<a href="/activity/{{activity._id}}">
		{{#if equals activity.nature "place"}}
		<img src="{{activity.picture}}" width="200px">
		<div class="nameHolder">{{activity.name}}</div>
		{{/if}}
	</a>
{{/each}}
</template>

<template name="eventsImage">
<h2>Events</h2>
{{#each activity in activities}}
	<a href="/activity/{{activity._id}}">
		{{#if equals activity.nature "event"}}
		<img src="{{activity.picture}}" width="200px">
		<div class="nameHolder">{{activity.name}}</div>
		{{/if}}
	</a>
{{/each}}
</template>
