<template name="navbar">
<ul>
<li>
<a href="/">Home</a>
</li>
<li>
<a href="/">Charts</a>
</li>
<li>
<a href="/">About</a>
</li>
</ul>
</template>

<template name ="home">
<p> Bring home memories from the most beautiful cities.</p>
</template>

<template name="reset">
<button type ="botton">reset</button>
</template>

<template name ="footer">
<p><ul><li><a href="/">Home</a></li><li> <a href="/">Charts</a></li><li><a href="/">About</a></li></ul></p>
© 2015 . All rights reserved. No part of this site may be reproduced without our written permission.
</template>