<template name="navbar">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/">Charts</a>
		</li>
		<li>
			<a href="/">About</a>
		</li>
	</ul>
	{{>reset}}
</template>

<template name="home">
	<p> Bring home memories from the most beautiful cities.</p>
	{{#each city in cities}}
			<a href="/city/{{city._id}}">
				<figure>
					<img src="{{city.picture}}" alt="">
					<div class="nameHolder">{{city.name}}</div>
				</figure>
			</a>
	{{/each}}



</template>

<template name="reset">
	<button type ="botton">reset</button>
</template>

<template name ="footer">
	© 2015 . All rights reserved. No part of this site may be reproduced without our written permission.
</template>

<template name="notFound">
	Ayyyy not found !!!
</template>
