<template name="navbar">
		<div class="center-logo"><img  class="logo" src="/center-logo.png" alt="logo"></div>
		<img  class="text-logo" src="/text-logo.png" alt="text logo">


			<a href="#">Sign in</a>
			<a href="#">About</a>
			<a href="#">Home</a>




</template>

<template name="home">
	<div class="banner">
		<p> Bring home memories from the most beautiful cities.</p>
		<img src="/images/homepage/banner.jpg" alt="" class="background">
	</div>
	<div class="container">
		<div class="content-block clearfix">
			<h2>Most popular cities</h2>
			{{#each city in cities}}
				<div class="col-md-4">
					<a href="/city/{{city._id}}">
						<figure>
							<img src="{{city.picture}}" alt="">
							<div class="nameHolder">{{city.name}}</div>
						</figure>
					</a>
				</div>

			{{/each}}
		</div>
		<div class="content-block">
			{{>addCity}}
		</div>

	</div>
</template>

<template name="reset">
	<button type ="botton">reset</button>
</template>

<template name ="footer">
	<div class="footer">
	© 2017  All rights reserved Hadrien & Patrick & Amar.
</div>
</template>

<template name="notFound">
	Ayyyy not found !!!
</template>

<template name="addCity">
	<form>
		<input type="text" value="Name of the city">
		<input type="text" value="Latitude">
		<input type="text" value ="Longitude">
		<input type="file"/>
		<input type="submit" value="submit">
	</form>
</template>
